.Container {
    display: flex;
    flex-direction: row;
}
.List {
    color:aliceblue;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border-right: solid;
}
.InfoContainer {
    color:aliceblue;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.ListItem {
    border-top: solid;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.ListItem:hover {
    background-color:#93a2c4;
}

li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    font-size: small;
}