.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #4b5261;
  height:100%;
}
.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.SortingContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
button {
  height: 5vh;
  text-align: center;
  margin-left: 5px;
}